<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div class="row bg-footer" th:fragment="html_footer">
		<h6>ĐẠI LÝ VÉ SỐ TUẤN KHANH - HỆ THỐNG TRỰC TUYẾN KẾT QUẢ XỔ SỐ</h6>
		<p>Đại lý vé số HG, tra cứu kết quả xổ số nhanh chóng, kết quả
			chính xác, cung cấp sỉ và lẻ vé số, đổi số trúng các tỉnh miền Nam</p>
		<p>191 Nguyễn Thị Minh Khai Thành Phố Sóc Trăng Tỉnh Sóc Trăng
			Việt Nam</p>
		<p>Phone: 0983.365.465</p>
		<p>E-mail: vhgiang15@gmail.com</p>
	</div>
</body>
</html>