<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<script src="http://code.jquery.com/jquery-2.0.0.min.js"></script>
<script th:src="@{/js/script.js}"></script>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div th:fragment="html_header">
	<div class="row">
		<img class="height-banner" src="media/bannerweb.gif">
		<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
			<div class="container-fluid">
				<div class="collapse navbar-collapse">
					<p>User có quyền Admin</p>
				</div>
			</div>
			<div class="collapse navbar-collapse" id="collapsibleNavbar">
				<ul class="navbar-nav">
					<li class="nav-item"><a class="nav-link" data-bs-toggle="modal" data-bs-target="#myModal">Đổi mật khẩu</a></li>
				</ul>
			</div>
		</nav>

	</div>

		<!-- The Modal đổi mật khẩu-->
		<div class="modal" id="myModal">
			<div class="modal-dialog">
				<div class="modal-content">
						<!-- Modal Header -->
						<div class="modal-header">
							<h4 class="modal-title">Đổi mật khẩu</h4>
							<button class="btn-close" data-bs-dismiss="modal"></button>
						</div>

						<!-- Modal body -->
						<div class="modal-body">
							<div class="form-outline mb-2">
								<label class="form-label">Mật khẩu cũ</label> <input
									id="oldpass" type="password" class="form-control" required />
							</div>

							<div class="form-outline mb-2">
								<label class="form-label">Mật khẩu mới</label> <input
									id="newpass" th:onkeyup="trigger(this)" type="password"
									class="form-control" required />
							</div>

							<div class="form-outline mb-2">
								<label class="form-label">Xác nhận mật khẩu</label> <input
									id="conwpass" type="password" class="form-control" required />
							</div>
							<div class="row" id="text"></div>
							<div class="row" id="alert-change-pass"></div>
						</div>

						<!-- Modal footer -->
						<div class="modal-footer">
							<button id="btn-doipass" class="btn btn-primary disabled"
								 th:onclick="changePass()">Thay đổi mật khẩu</button>
							<button class="btn btn-danger"
								data-bs-dismiss="modal">Close</button>
						</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>