<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<div th:fragment="html_middle_gioithieu">
	<div class="d-flex justify-content-center text-warning h4">ĐẠI LÝ
		VÉ SỐ HG</div>
	<div class="d-flex justify-content-center text-success h6">Chuyên
		phân phối vé số cho các anh chị bán sỉ và lẻ tại Sóc Trăng Là đại lý
		hoạt động lâu năm trong ngành và phát triển (từ 2002 đến nay)</div>
	<div class="container-fluid mt-3">
		<h4>Các điểm nổi bật về đại lý vé số HG</h4>
		<ul>
			<li>Có hệ thống website, youtube, facebook trực tiếp
				kết quả xổ số toàn quốc.</li>
			<li>Phân phối vé số cho các anh chị bán sỉ với chính
				sách giá ưu đãi.</li>
			<li>Đổi số trúng các tỉnh với thủ tục nhanh gọn,
				người trúng được lựa chọn hình thức chi trả tiền mặt hoặc chuyển
				khoản.</li>
			<li>Nằm ngay trung tâm thành phố Sóc Trăng.</li>
		</ul>
		
		<h4>Những qui định chung về vé số trúng giải:</h4>
		<ul>
			<li>Vé số trúng giải là những vé có dãy số dự thưởng trùng với các con số trên bảng kết quả theo thứ tự hàng ngang..</li>
			<li>Vé số trúng phải còn nguyên hình, nguyên số, không rách rời và không cạo sửa.</li>
			<li>Vé số trúng có giá trị lãnh thưởng trong thời hạn trả thưởng qui định. (30 ngày)</li>
			<li>Vé số trúng nhiều giải được lãnh đủ tổng giá trị các giải.</li>
			<li>Các vé có tổng giá trị các giải trúng trên 10 triệu đồng phải đóng thuế thu nhập, các Công Ty Xổ Số khấu trừ và nộp vào ngân sách nhà nước khi trả thưởng.</li>
		</ul>
	</div>
</div>

</body>
</html>