<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<div th:fragment="html_middle_side">
		<div class="container-fluid mt-3">
			<h6 class="doveso-header">
				KẾT QUẢ XỔ SỐ <span th:text="${nowOrYesterday}"></span> NGÀY <span
					th:text="${date}"></span>
			</h6>
		</div>
		<div class="row m-1">
			<div class="row">
				<div class="col-md-10">
					<h5 class="text-primary">
						Kết quả Xổ số <strong>Miền Nam ngày <span
							th:text="${date}"></span> <span th:text="${thongBaoMN}"></span>
						</strong>
					</h5>
				</div>
				<div class="col-md-2">
					<a
						th:href="@{/user/exportToPdfMN/{dateString}(dateString=${date})}"><strong>In
							vé dò</strong></a>
				</div>
			</div>
			<table class="table table-striped table-sm table-bordered">
				<thead class="table-info">
					<tr>
						<th style="width: 120px">Tên giải</th>
						<th><a th:href="@{/xskt/{id}(id=${idMN0})}"
							th:text="${provinceMN0}"></a></th>
						<th><a th:href="@{/xskt/{id}(id=${idMN1})}"
							th:text="${provinceMN1}"></a></th>
						<th><a th:href="@{/xskt/{id}(id=${idMN2})}"
							th:text="${provinceMN2}"></a></th>
						<th th:if="${countProvince}==4"><a
							th:href="@{/xskt/{id}(id=${idMN3})}" th:text="${provinceMN3}"></a></th>

					</tr>
				</thead>
				<tbody>
					<tr>
						<td><h5>Giải ĐB</h5></td>
						<td><h5 th:text="${DBMN0}"></h5></td>
						<td><h5 th:text="${DBMN1}"></h5></td>
						<td><h5 th:text="${DBMN2}"></h5></td>
						<td th:if="${countProvinceMN}==4"><h5 th:text="${DBMN3}"></h5></td>
					</tr>
					<tr>
						<td><h5>Giải nhất</h5></td>
						<td><h5 th:text="${G1MN0}"></h5></td>
						<td><h5 th:text="${G1MN1}"></h5></td>
						<td><h5 th:text="${G1MN2}"></h5></td>
						<td th:if="${countProvinceMN}==4"><h5 th:text="${G1MN3}"></h5></td>
					</tr>
					<tr>

						<td><h5>Giải nhì</h5></td>
						<td><h5 th:text="${G2MN0}"></h5></td>
						<td><h5 th:text="${G2MN1}"></h5></td>
						<td><h5 th:text="${G2MN2}"></h5></td>
						<td th:if="${countProvinceMN}==4"><h5 th:text="${G2MN3}"></h5></td>
					</tr>
					<tr>
						<td><h5>Giải ba</h5></td>
						<td>
							<div class="row">
								<div class="col-md-4 col-sm-12">
									<h5 th:text="${G31MN0}"></h5>
								</div>
								<div class="col-md-4 col-sm-12">
									<h5 th:text="${G32MN0}"></h5>
								</div>
							</div>
						</td>

						<td>
							<div class="row">
								<div class="col-md-4 col-sm-12">
									<h5 th:text="${G31MN1}"></h5>
								</div>
								<div class="col-md-4 col-sm-12">
									<h5 th:text="${G32MN1}"></h5>
								</div>
							</div>
						</td>

						<td>
							<div class="row">
								<div class="col-md-4 col-sm-12">
									<h5 th:text="${G31MN2}"></h5>
								</div>
								<div class="col-md-4 col-sm-12">
									<h5 th:text="${G32MN2}"></h5>
								</div>
							</div>
						</td>
						<td th:if="${countProvinceMN}==4">
							<div class="row">
								<div class="col-md-4 col-sm-12">
									<h5 th:text="${G31MN3}"></h5>
								</div>
								<div class="col-md-4 col-sm-12">
									<h5 th:text="${G32MN3}"></h5>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td><h5>Giải tư</h5></td>
						<td>
							<div class="row">
								<div class="col-md-4 col-sm-12">
									<div class="row">
										<h5 th:text="${G41MN0}"></h5>
									</div>
									<div class="row">
										<h5 th:text="${G42MN0}"></h5>
									</div>
									<div class="row">
										<h5 th:text="${G43MN0}"></h5>
									</div>
								</div>

								<div class="col-md-4 col-sm-12">
									<div class="row">
										<h5 th:text="${G44MN0}"></h5>
									</div>
									<div class="row">
										<h5 th:text="${G45MN0}"></h5>
									</div>
									<div class="row">
										<h5 th:text="${G46MN0}"></h5>
									</div>
								</div>
								<div class="col-md-4 col-sm-12">
									<div class="row">
										<h5 th:text="${G47MN0}"></h5>
									</div>

								</div>
							</div>
						</td>


						<td>
							<div class="row">
								<div class="col-md-4 col-sm-12">
									<div class="row">
										<h5 th:text="${G41MN1}"></h5>
									</div>
									<div class="row">
										<h5 th:text="${G42MN1}"></h5>
									</div>
									<div class="row">
										<h5 th:text="${G43MN1}"></h5>
									</div>
								</div>

								<div class="col-md-4 col-sm-12">
									<div class="row">
										<h5 th:text="${G44MN1}"></h5>
									</div>
									<div class="row">
										<h5 th:text="${G45MN1}"></h5>
									</div>
									<div class="row">
										<h5 th:text="${G46MN1}"></h5>
									</div>
								</div>
								<div class="col-md-4 col-sm-12">
									<div class="row">
										<h5 th:text="${G47MN1}"></h5>
									</div>

								</div>
							</div>
						</td>

						<td>
							<div class="row">
								<div class="col-md-4 col-sm-12">
									<div class="row">
										<h5 th:text="${G41MN2}"></h5>
									</div>
									<div class="row">
										<h5 th:text="${G42MN2}"></h5>
									</div>
									<div class="row">
										<h5 th:text="${G43MN2}"></h5>
									</div>
								</div>

								<div class="col-md-4 col-sm-12">
									<div class="row">
										<h5 th:text="${G44MN2}"></h5>
									</div>
									<div class="row">
										<h5 th:text="${G45MN2}"></h5>
									</div>
									<div class="row">
										<h5 th:text="${G46MN2}"></h5>
									</div>
								</div>
								<div class="col-md-4 col-sm-12">
									<div class="row">
										<h5 th:text="${G47MN2}"></h5>
									</div>

								</div>
							</div>
						</td>
						<td th:if="${countProvinceMN}==4">
							<div class="row">
								<div class="col-md-4 col-sm-12">
									<div class="row">
										<h5 th:text="${G41MN3}"></h5>
									</div>
									<div class="row">
										<h5 th:text="${G42MN3}"></h5>
									</div>
									<div class="row">
										<h5 th:text="${G43MN3}"></h5>
									</div>
								</div>

								<div class="col-md-4 col-sm-12">
									<div class="row">
										<h5 th:text="${G44MN3}"></h5>
									</div>
									<div class="row">
										<h5 th:text="${G45MN3}"></h5>
									</div>
									<div class="row">
										<h5 th:text="${G46MN3}"></h5>
									</div>
								</div>
								<div class="col-md-4 col-sm-12">
									<div class="row">
										<h5 th:text="${G47MN3}"></h5>
									</div>

								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td><h5>Giải năm</h5></td>
						<td><h5 th:text="${G5MN0}"></h5></td>
						<td><h5 th:text="${G5MN1}"></h5></td>
						<td><h5 th:text="${G5MN2}"></h5></td>
						<td th:if="${countProvinceMN}==4"><h5 th:text="${G5MN3}"></h5></td>
					</tr>
					<tr>
						<td><h5>Giải sáu</h5></td>

						<td>
							<div class="row">
								<div class="col-md-4 col-sm-12">
									<h5 th:text="${G61MN0}"></h5>
								</div>
								<div class="col-md-4 col-sm-12">
									<h5 th:text="${G62MN0}"></h5>
								</div>
								<div class="col-md-4 col-sm-12">
									<h5 th:text="${G63MN0}"></h5>
								</div>
							</div>
						</td>
						<td>
							<div class="row">
								<div class="col-md-4 col-sm-12">
									<h5 th:text="${G61MN1}"></h5>
								</div>
								<div class="col-md-4 col-sm-12">
									<h5 th:text="${G62MN1}"></h5>
								</div>
								<div class="col-md-4 col-sm-12">
									<h5 th:text="${G63MN1}"></h5>
								</div>
							</div>
						</td>
						<td>
							<div class="row">
								<div class="col-md-4 col-sm-12">
									<h5 th:text="${G61MN2}"></h5>
								</div>
								<div class="col-md-4 col-sm-12">
									<h5 th:text="${G62MN2}"></h5>
								</div>
								<div class="col-md-4 col-sm-12">
									<h5 th:text="${G63MN2}"></h5>
								</div>
							</div>
						</td>
						<td th:if="${countProvinceMN}==4">
							<div class="row">
								<div class="col-md-4 col-sm-12">
									<h5 th:text="${G61MN3}"></h5>
								</div>
								<div class="col-md-4 col-sm-12">
									<h5 th:text="${G62MN3}"></h5>
								</div>
								<div class="col-md-4 col-sm-12">
									<h5 th:text="${G63MN3}"></h5>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td><h5>Giải bảy</h5></td>
						<td><h5 th:text="${G7MN0}"></h5></td>
						<td><h5 th:text="${G7MN1}"></h5></td>
						<td><h5 th:text="${G7MN2}"></h5></td>
						<td th:if="${countProvinceMN}==4"><h5 th:text="${G7MN3}"></h5></td>
					</tr>
					<tr>
						<td><h5>Giải tám</h5></td>
						<td><h5 th:text="${G8MN0}"></h5></td>
						<td><h5 th:text="${G8MN1}"></h5></td>
						<td><h5 th:text="${G8MN2}"></h5></td>
						<td th:if="${countProvinceMN}==4"><h5 th:text="${G8MN3}"></h5></td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="row m-1">
			<div class="row">
				<div class="col-md-10">
					<h5 class="text-primary">
						Kết quả Xổ số <strong>Miền Trung ngày <span
							th:text="${date}"></span> <span th:text="${thongBaoMT}"></span>
						</strong>
					</h5>
				</div>
				<div class="col-md-2">
					<a
						th:href="@{/user/exportToPdfMT/{dateString}(dateString=${date})}"><strong>In
							vé dò</strong></a>
				</div>
			</div>

			<table class="table table-striped table-sm table-bordered">
				<thead class="table-info">
					<tr>
						<th style="width: 120px">Tên giải</th>
						<th><a th:href="@{/xskt/{id}(id=${idMT0})}"
							th:text="${provinceMT0}"></a></th>
						<th><a th:href="@{/xskt/{id}(id=${idMT1})}"
							th:text="${provinceMT1}"></a></th>
						<th th:if="${countProvinceMT}==3"><a
							th:href="@{/xskt/{id}(id=${idMT2})}" th:text="${provinceMT2}"></a></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><h5>Giải ĐB</h5></td>
						<td class="mx-auto"><h5 th:text="${DBMT0}"></h5></td>
						<td class="mx-auto"><h5 th:text="${DBMT1}"></h5></td>
						<td th:if="${countProvinceMT}==3" class="mx-auto"><h5
								th:text="${DBMT2}"></h5></td>
					</tr>
					<tr>
						<td><h5>Giải nhất</h5></td>
						<td class="mx-auto"><h5 th:text="${G1MT0}"></h5></td>
						<td class="mx-auto"><h5 th:text="${G1MT1}"></h5></td>
						<td th:if="${countProvinceMT}==3" class="mx-auto"><h5
								th:text="${G1MT2}"></h5></td>
					</tr>
					<tr>

						<td><h5>Giải nhì</h5></td>
						<td><h5 th:text="${G2MT0}"></h5></td>
						<td><h5 th:text="${G2MT1}"></h5></td>
						<td th:if="${countProvinceMT}==3"><h5 th:text="${G2MT2}"></h5></td>

					</tr>
					<tr>
						<td><h5>Giải ba</h5></td>
						<td>
							<div class="row d-flex">
								<div class="col-md-4 col-sm-12">
									<h5 th:text="${G31MT0}"></h5>
								</div>
								<div class="col-md-4 col-sm-12">
									<h5 th:text="${G32MT0}"></h5>
								</div>
							</div>
						</td>

						<td>
							<div class="row d-flex">
								<div class="col-md-4 col-sm-12">
									<h5 th:text="${G31MT1}"></h5>
								</div>
								<div class="col-md-4 col-sm-12">
									<h5 th:text="${G32MT1}"></h5>
								</div>
							</div>
						</td>
						<td th:if="${countProvinceMT}==3">
							<div class="row d-flex">
								<div class="col-md-4 col-sm-12">
									<h5 th:text="${G31MT2}"></h5>
								</div>
								<div class="col-md-4 col-sm-12">
									<h5 th:text="${G32MT2}"></h5>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td><h5>Giải tư</h5></td>
						<td>
							<div class="row">
								<div class="col-md-4 col-sm-12">
									<div class="row">
										<h5 th:text="${G41MT0}"></h5>
									</div>
									<div class="row">
										<h5 th:text="${G42MT0}"></h5>
									</div>
									<div class="row">
										<h5 th:text="${G43MT0}"></h5>
									</div>
								</div>

								<div class="col-md-4 col-sm-12">
									<div class="row">
										<h5 th:text="${G44MT0}"></h5>
									</div>
									<div class="row">
										<h5 th:text="${G45MT0}"></h5>
									</div>
									<div class="row">
										<h5 th:text="${G46MT0}"></h5>
									</div>
								</div>
								<div class="col-md-4 col-sm-12">
									<div class="row">
										<h5 th:text="${G47MT0}"></h5>
									</div>

								</div>
							</div>
						</td>


						<td>
							<div class="row">
								<div class="col-md-4 col-sm-12">
									<div class="row">
										<h5 th:text="${G41MT1}"></h5>
									</div>
									<div class="row">
										<h5 th:text="${G42MT1}"></h5>
									</div>
									<div class="row">
										<h5 th:text="${G43MT1}"></h5>
									</div>
								</div>

								<div class="col-md-4 col-sm-12">
									<div class="row">
										<h5 th:text="${G44MT1}"></h5>
									</div>
									<div class="row">
										<h5 th:text="${G45MT1}"></h5>
									</div>
									<div class="row">
										<h5 th:text="${G46MT1}"></h5>
									</div>
								</div>
								<div class="col-md-4 col-sm-12">
									<div class="row">
										<h5 th:text="${G47MT1}"></h5>
									</div>

								</div>
							</div>
						</td>
						<td th:if="${countProvinceMT}==3">
							<div class="row">
								<div class="col-md-4 col-sm-12">
									<div class="row">
										<h5 th:text="${G41MT2}"></h5>
									</div>
									<div class="row">
										<h5 th:text="${G42MT2}"></h5>
									</div>
									<div class="row">
										<h5 th:text="${G43MT2}"></h5>
									</div>
								</div>

								<div class="col-md-4 col-sm-12">
									<div class="row">
										<h5 th:text="${G44MT2}"></h5>
									</div>
									<div class="row">
										<h5 th:text="${G45MT2}"></h5>
									</div>
									<div class="row">
										<h5 th:text="${G46MT2}"></h5>
									</div>
								</div>
								<div class="col-md-4 col-sm-12">
									<div class="row">
										<h5 th:text="${G47MT2}"></h5>
									</div>

								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td><h5>Giải năm</h5></td>
						<td><h5 th:text="${G5MT0}"></h5></td>
						<td><h5 th:text="${G5MT1}"></h5></td>
						<td th:if="${countProvinceMT}==3"><h5 th:text="${G5MT2}"></h5></td>
					</tr>
					<tr>
						<td><h5>Giải sáu</h5></td>

						<td>
							<div class="row">
								<div class="col-md-4 col-sm-12">
									<h5 th:text="${G61MT0}"></h5>
								</div>
								<div class="col-md-4 col-sm-12">
									<h5 th:text="${G62MT0}"></h5>
								</div>
								<div class="col-md-4 col-sm-12">
									<h5 th:text="${G63MT0}"></h5>
								</div>
							</div>
						</td>
						<td>
							<div class="row">
								<div class="col-md-4 col-sm-12">
									<h5 th:text="${G61MT1}"></h5>
								</div>
								<div class="col-md-4 col-sm-12">
									<h5 th:text="${G62MT1}"></h5>
								</div>
								<div class="col-md-4 col-sm-12">
									<h5 th:text="${G63MT1}"></h5>
								</div>
							</div>
						</td>
						<td th:if="${countProvinceMT}==3">
							<div class="row">
								<div class="col-md-4 col-sm-12">
									<h5 th:text="${G61MT2}"></h5>
								</div>
								<div class="col-md-4 col-sm-12">
									<h5 th:text="${G62MT2}"></h5>
								</div>
								<div class="col-md-4 col-sm-12">
									<h5 th:text="${G63MT2}"></h5>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td><h5>Giải bảy</h5></td>
						<td><h5 th:text="${G7MT0}"></h5></td>
						<td><h5 th:text="${G7MT1}"></h5></td>
						<td th:if="${countProvinceMT}==3"><h5 th:text="${G7MT2}"></h5></td>
					</tr>
					<tr>
						<td><h5>Giải tám</h5></td>
						<td><h5 th:text="${G8MT0}"></h5></td>
						<td><h5 th:text="${G8MT1}"></h5></td>
						<td th:if="${countProvinceMT}==3"><h5 th:text="${G8MT2}"></h5></td>
					</tr>
				</tbody>
			</table>

		</div>

		<div class="row m-1">

			<div class="row">
				<div class="col-md-10">
					<h5 class="text-primary">
						Kết quả Xổ số <strong>Miền Bắc ngày <span
							th:text="${date}"></span> <span th:text="${thongBaoMB}"></span>
						</strong>
					</h5>
				</div>
				<div class="col-md-2">
					<a
						th:href="@{/user/exportToPdfMB/{dateString}(dateString=${date})}"><strong>In
							vé dò</strong></a>
				</div>
			</div>


			<table class="table table-striped table-sm table-bordered">
				<thead class="table-info">
					<tr>
						<th><h5>Tên giải</h5></th>
						<th><a th:href="@{/xskt/{id}(id=${idMB0})}"
							th:text="${provinceMB0}"></a></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><h5>Giải ĐB</h5></td>
						<td><h5 th:text="${DBMB0}"></h5></td>
					</tr>
					<tr>
						<td><h5>Giải nhất</h5></td>
						<td><h5 th:text="${G1MB0}"></h5></td>
					</tr>
					<tr>
						<td><h5>Giải nhì</h5></td>
						<td>
							<div class="row d-flex">
								<div class="col-md-2 col-sm-12">
									<h5 th:text="${G21MB0}"></h5>
								</div>
								<div class="col-md-2 col-sm-12">
									<h5 th:text="${G22MB0}"></h5>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td><h5>Giải ba</h5></td>
						<td>
							<div class="row d-flex">
								<div class="col-md-2 col-sm-12">
									<h5 th:text="${G31MB0}"></h5>
								</div>
								<div class="col-md-2 col-sm-12">
									<h5 th:text="${G32MB0}"></h5>
								</div>
								<div class="col-md-2 col-sm-12">
									<h5 th:text="${G33MB0}"></h5>
								</div>
								<div class="col-md-2 col-sm-12">
									<h5 th:text="${G34MB0}"></h5>
								</div>
								<div class="col-md-2 col-sm-12">
									<h5 th:text="${G35MB0}"></h5>
								</div>
								<div class="col-md-2 col-sm-12">
									<h5 th:text="${G36MB0}"></h5>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td><h5>Giải tư</h5></td>
						<td>
							<div class="row">
								<div class="col-md-2 col-sm-12">
									<h5 th:text="${G41MB0}"></h5>
								</div>
								<div class="col-md-2 col-sm-12">
									<h5 th:text="${G42MB0}"></h5>
								</div>
								<div class="col-md-2 col-sm-12">
									<h5 th:text="${G43MB0}"></h5>
								</div>
								<div class="col-md-2 col-sm-12">
									<h5 th:text="${G44MB0}"></h5>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td><h5>Giải năm</h5></td>
						<td>
							<div class="row">
								<div class="col-md-2 col-sm-12">
									<h5 th:text="${G51MB0}"></h5>
								</div>
								<div class="col-md-2 col-sm-12">
									<h5 th:text="${G52MB0}"></h5>
								</div>
								<div class="col-md-2 col-sm-12">
									<h5 th:text="${G53MB0}"></h5>
								</div>
								<div class="col-md-2 col-sm-12">
									<h5 th:text="${G54MB0}"></h5>
								</div>
								<div class="col-md-2 col-sm-12">
									<h5 th:text="${G55MB0}"></h5>
								</div>
								<div class="col-md-2 col-sm-12">
									<h5 th:text="${G56MB0}"></h5>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td><h5>Giải sáu</h5></td>
						<td>
							<div class="row">
								<div class="col-md-2 col-sm-12">
									<h5 th:text="${G61MB0}"></h5>
								</div>
								<div class="col-md-2 col-sm-12">
									<h5 th:text="${G62MB0}"></h5>
								</div>
								<div class="col-md-2 col-sm-12">
									<h5 th:text="${G63MB0}"></h5>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td><h5>Giải bảy</h5></td>
						<td>
							<div class="row">
								<div class="col-md-2 col-sm-12">
									<h5 th:text="${G71MB0}"></h5>
								</div>
								<div class="col-md-2 col-sm-12">
									<h5 th:text="${G72MB0}"></h5>
								</div>
								<div class="col-md-2 col-sm-12">
									<h5 th:text="${G73MB0}"></h5>
								</div>
								<div class="col-md-2 col-sm-12">
									<h5 th:text="${G74MB0}"></h5>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>